
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 32px;
  text-align: center;
  width: min(100%, 500px);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) ;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 8px;
}
.title-menu{
  font-size: 1.8rem;
  font-weight: 500;
  color: purple;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
  /* display: block; */
  transform: translateY(-50%);
  width: 10rem;
  height: 3rem;
  color: #f9f9f9;
  background-color: purple;
  border: none;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  padding: 1rem auto;
  margin: auto;
  margin-top: 2rem;
}
button:hover{
  background-color: rgb(72, 7, 72);
  transition: color .9s ease-in-out linear;
}
.adding{
  transition: all color .8s ease-in-out;
  
}
.answers{
  display: flex;
  flex-direction: column;
}

label{
  padding: 12px;
  display: block;
  border: 2px solid #64748b;
  border-radius: 4px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  font-family: monospace;
  font-size: 20px;
}
label:has(:checked) {
  background-color: rgba(140, 10, 140, .1);
  border-color: rgb(128, 7, 128);
}

progress{
  width: 100%;
}
.correct{
  background-color: #bbf7d0 !important;
}
.incorrect{
  background-color: #fecaca !important;
}